@charset "UTF-8";
/* svg
-------------------------------- */
* {
	box-sizing: border-box;
}
#symbol {
	display: none;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
}
#playList {
	list-style: none;
	margin-top: 50px;
	li {
		display: table;
	}
	li + li {
		margin-top: 30px;
	}
}
#playList .play {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	text-align: center;
	svg {
		width: 50px;
		height: 50px;
	}
}
#playList .logo {
	display: table-cell;
	svg {
		width: 600px;
		height: 100px;
	}
}
/*
-------------------------------- */
