doctype html
html(lang='ja')
	head
		meta(charset='UTF-8')

		block title

		block meta
			meta(name='viewport', content='width=device-width')
			meta(name='description', content=description)
			meta(name='keywords', content=keywords)
			meta(name='robots', content=robots)

		block style
			link(rel='stylesheet', href='css/lib/normalize.css')

	body
		block body
