extends _layout

block title
	title SVGサンプル

block append style
	link(rel="stylesheet", href="css/style.css")

block body

	#symbol

	.wrapper

		header.header

		main.main

			ul#playList
				li
					span.play: a(href="")
					span.logo: object(type="image/svg+xml", data="img/logo00.svg")
				li
					span.play: a(href="")
					span.logo: include _inc_logo00.jade
				li
					span.play: a(href="")
					span.logo#demo: include _inc_logo00.jade
				li
					span.play: a(href="")
					span.logo
				li
					span.play: a(href="")
					span.logo
					
		footer.footer
			small
			
	script(src="js/lib/jquery-1.11.3.min.js")
	script(src="js/lib/jquery.easing.min.js")
	script(src="js/lib/jquery.lazylinepainter-1.5.1.min.js")
	script(src="js/script.js")
